<!-- TODO some major fixing needs doing here -->
<center>
  <!-- TODO a nice image goes here -->
  <img src="/assets/img/6-2-burger-png-image.png">
  <h1>Eat-Da-Burger!</h1>
</center>
<br>
<br>

<table border="0" width="100%">
  <tr>
    <td width="50%">
      <!-- <h2>Burgers that are not devoured!</h2> -->

      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
          {{/unless}}
        {{/each}}
      </ul>
    </td>
 
    <td width="50%">
      <!-- <h2>Burgers that are devoured!</h2> -->

      <ul>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/if}}
        {{/each}}
      </ul>
    </td>
  </tr>
</table>

<!-- <h2>Add a Burger</h2> -->
<br>
<br>
<center class="center">
  <form class="create-form">
    <div class="form-group">
      <input type="text" id="ca" name="burger_name">
    </div>
    <br>
    <br>
    <button type="submit">Add Burger</button>
    <br>
    <br>
    <h6>Enter a burger you want to eat.  Click the "Submit" button</h6p>
  </form>
</center>